<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Update Username Page</title>
    <link rel="stylesheet" type="text/css" href="/LoginPage/CSS/style.css" />

    <style>
        *{
            margin: 0;
            padding: 0;
            outline: none;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
        }

        body{
            height:100%;
            width:100%;
            background:beige !important;
        }

        html {
            font-size: 62.5%;
        }
    </style>

</head>
<body>

    <h1 class="actionMainHeader">Username Update</h1>
    <form method="POST">

    <h1 class="actionHeader">Please fill in the following:</h1>

    <label class="actionLabel" for="currUserName">Current Username:</label><br>
    <input class="actionInputText" type="text" id="currUserName" name="currUserName" value=""><br>

    <label class="actionLabel" for="currPws">Current Password:</label><br>
    <input class="actionInputText" type="text" id="currPws" name="currPws" value=""><br><br>

    <label class="actionLabel" for="newUserName">New Username:</label><br>
    <input class="actionInputText" type="text" id="newUserName" name="newUserName" value=""><br>

    <input class="actionButton" type="submit" value="Submit">

    </form> 

    <h1 class ="actionLinkText">Other actions</h1>
    <span>
        <a class="actionLink" href="http://localhost:8080/UserLoggedIn">Add Appointments</a>
    </span>

    <span>
        <a class="actionLink" href="http://localhost:8080/UserAppointment">Edit Appointments</a>
    </span>

    <span>
        <a class="actionLink" href="http://localhost:8080/UserDeleteAppointment">Delete Appointments</a>
    </span>

    <span>
        <a class="actionLink" href="http://localhost:8080/UpdatePws">Update Password</a>
    </span>

    <span>
        <a class="actionLink" href="http://localhost:8080/UserLogOut">Log Out</a>
    </span>

</body>